/* ===== BANNER ===== */
.logo-banner {
    width: 100%;
    max-width: 680px;
    margin: 2rem auto;
    display: block;
}

/* ===== DISPLAY ===== */
#Home-display {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    min-height: 100vh;
    gap: 1rem;
}

#Home-left-display {
    /* Left margin (10%) */
    /*background-color: black;*/
}

#Home-center-display {
    /* Main content (80%) */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
}

#Home-right-display {
    /* Right margin (10%) */
    /*background-color: black;*/
}

/* ===== ISS MAP ===== */
#Home-map {
    height: 400px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

#Home-iss-position-display {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 50%;
    min-height: 400px;
}

/* ===== QUIZ ===== */

#Home-quiz-display {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 70%;
    /*border: 2px solid #4a7ba7;*/
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #202240;
}

#Home-quiz-progress {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

#Home-quiz-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

/* ===== QUIZ QUESTION ===== */

.Home-question-display {
    margin: 2rem;
}

.Home-question-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.selected-response {
    background: #304d73;
    transform: translateY(2px);
    box-shadow: 0 4px 12px rgba(74, 123, 167, 0.3);
}

.correct-response {
    background: #2f6f4e;
    transform: translateY(2px);
    box-shadow: 0 4px 12px rgba(74, 123, 167, 0.3);
}

.correct-response:disabled {
    background: #2f6f4e;
    transform: translateY(2px);
    box-shadow: 0 4px 12px rgba(74, 123, 167, 0.3); 
    cursor: not-allowed;
}

.bad-response {
    background: #7a3a3a;;
    transform: translateY(2px);
    box-shadow: 0 4px 12px rgba(74, 123, 167, 0.3); 
}

.bad-response:disabled {
    background: #7a3a3a;;
    transform: translateY(2px);
    box-shadow: 0 4px 12px rgba(74, 123, 167, 0.3); 
    cursor: not-allowed;
}

/* Responsive : on little screen, only one column */
@media (max-width: 768px) {
    #Home-display {
        grid-template-columns: 1fr;
    }
    
    #Home-left-display,
    #Home-right-display {
        display: none;
    }
    
    #Home-center-display {
        padding: 1rem;
    }
}